@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/raleway/Raleway-Regular.ttf) format('truetype');
}


/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Raleway;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

h1 {
  font-size: 2em;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 1.5em;
}

h5 {
  margin: 2em auto auto auto;
}

h6 {
  margin: 0em;
}

#first {
  background-image: url(../assets/images/bg-home.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
}

#description {
  font-size: 0.6em;
  text-align: center;
}

#services-link-container {
  padding: 5em 0em;
  text-align: center;
}

#services-link {
  background-color: #2ecc71;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  text-align: center;
  align-content: center;
  position: relative;
  justify-content: center;

}

#second {
  background-color: #f17c72;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

#services-description {
  text-align: center;
  padding: 1em;
}

#work-description {
  text-align: center;
  padding: 1em;
}

#services {
  display: flex;
  justify-content: space-between;
  margin: 3em 0em;
}

#hero-img {
  width: 100%;
  padding: 1em 8em;
}

#works-images {
  display: flex;
  flex-wrap: wrap;
  margin: 3em 3em;
  justify-content: center;
}

.white {
  color: white;
}

.services-img  {
  width: 10em;
}

.works {
  width: 20em;
  padding: 2em;
}